@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hP {
  font-size: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.wetherImg {
  width: 200px;
  margin: 10px;
  display: flex;
  object-fit: cover;
  z-index: 1;
}

.ulP {
  margin: 10px;
  padding: 0;
  list-style: none;
  display: flex;

  li {
    font-size: 14px;
    margin-right: 10px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    &.active {
      background-color: $mainColor;
      color: white;
    }
  }
}
.container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .item {
    width: 220px;
    height: 200px;
    border-radius: 30px;
    border: 1px solid lightgray;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  &:hover {
    background-color: $mainColor;
    .wetherImg {
      opacity: 0.2;
      z-index: 0;
    }
  }
}
